<!DOCTYPE <html>
<head>
	<title>Domerson Capital</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

	<div class='banner'>
		<h3>Domerson Capital</h3>
		<h6>Investing in Your Future.</h6>
	</div>

	<div class='nav nav-pills'>
		<div class='container'>

			<ul class='pull-left'>
				<li><a href='#'><i class="fa fa-user"></i> About Us</a></li>
				<li><a href='#'><i class="fa fa-area-chart"></i> Investment Strategy</a></li>
				<li><a href='#'><i class="fa fa-usd"></i> Investment Criteria</a></li>
			</ul>

			<ul class='pull-right'>
				<li><a href='#'><i class="fa fa-phone"></i> Contact Us</a></li>
				<li><a href='#'><i class="fa fa-home"></i> Investor Login</a></li>
			</ul>

		</div>
	</div>


	<div class='slider'>

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://download.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg" alt="City">
      <div class='carousel-caption'>
      	<h1>Discipline</h1>
      </div>
    </div>

    <div class="item">
      <img src="https://download.unsplash.com/40/OTwgwURiQN6DLk8zIr8E_DSC00953.jpg" alt="City">
      <div class='carousel-caption'>
      	<h1>Determination</h1>
      </div>
    </div>

    <div class="item">
      <img src="https://download.unsplash.com/photo-1429043794791-eb8f26f44081" alt="City">
      <div class='carousel-caption'>
      	<h1>Integrity</h1>
      </div>
    </div>

    <div class="item">
      <img src="https://download.unsplash.com/25/black-white-city.jpg" alt="City">
      <div class='carousel-caption'>
      	<h1>Reliability</h1>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




	</div>


	<div class='about'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='overview'>
						<h5>Overview</h5>
						<p>Lorem ipsum dolor sit amet, dolorem rationibus est ea, decore facilisis et sit, per sumo illud civibus te. Enim sonet percipitur at mel, has eu prodesset consequuntur, sed at audire fierent laboramus. Nihil ancillae disputationi ei his, an cum aliquam sadipscing, pro in soleat viderer indoctum. Wisi iriure ullamcorper sit et, oblique epicuri mea ex. Et enim graece mnesarchum est, mei sale incorrupte te. Possim persius adversarium vim in, an diam constituam liberavisse sed, docendi similique in sit. Tibique dolores incorrupte per te.</p>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<div class='structure'>
						<h5>Business Structure</h5>
						<p>Ad oporteat molestiae pri, eu dictas meliore iudicabit qui. In nec porro dicit causae. Pro ut regione eripuit ancillae. Partem scriptorem pri ad, has no decore minimum, minim movet ad mel. Stet natum intellegebat ad mei, ne clita neglegentur ius, ne quo melius invenire.</p>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<div class='mission'>
						<h4>Mission</h4>
						<p>Ad oporteat molestiae pri, eu dictas meliore iudicabit qui. In nec porro dicit causae. Pro ut regione eripuit ancillae. Partem scriptorem pri ad, has no decore minimum, minim movet ad mel. Stet natum intellegebat ad mei, ne clita neglegentur ius, ne quo melius invenire.</p>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<div class='vision'>
						<h4>Vision</h4>
						<p>Ad oporteat molestiae pri, eu dictas meliore iudicabit qui. In nec porro dicit causae. Pro ut regione eripuit ancillae. Partem scriptorem pri ad, has no decore minimum, minim movet ad mel. Stet natum intellegebat ad mei, ne clita neglegentur ius, ne quo melius invenire.</p>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<div class='values'>
						<h4>Values</h4>
						<p>Ad oporteat molestiae pri, eu dictas meliore iudicabit qui. In nec porro dicit causae. Pro ut regione eripuit ancillae. Partem scriptorem pri ad, has no decore minimum, minim movet ad mel. Stet natum intellegebat ad mei, ne clita neglegentur ius, ne quo melius invenire.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='strategy'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<p>Domerson Capital recognizes that there are many strategies that lead to real estate investing success.  As such, we will use a variety of investing strategies, as appropriate, to achieve a variety of end-results.  The company will first focus its efforts on one strategic investment strategies – Value-Play Investments – as defined below.</p>
					<p>There are a number of strategies that the company will follow when evaluating and carrying-out value-play investment opportunities.</p>
					<p>Among them are the following:</p>
		</div>
	</div>

	<div class='criteria'>
		<div class='container'>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>
</html>