/* .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
*/

.banner {
/*  background-image: url('logo.png');*/
  position: relative;
	font-family: 'Lato', sans-serif;
/*	display: block;*/
  background-color: rgba(30,87,153,1);	
  color: #F6F6F6;
  height: 80px;
  padding: 1px;
  text-shadow: 2px 2px 8px #F6F6F6;
}

.logo {
  position: absolute;
  z-index: 1;
  margin-left: 20px;
  margin-top: 4px;
}

.banner h3 {
  position: relative;
  top: 50%;
  text-align: left;
  font-size: 40px;
  font-weight: normal;
  display: inline;
/*  padding: 20px;*/
/*  padding-top: 8px;*/
  padding-right: 30px;
  margin-left: 100px;
  border-right: 1px solid #fff;
}

.banner h6 {
  margin-left: 20px;
  display: inline-block;
}

.nav {
  background-color: #fff;
  position: relative;
  height: 10px;
  color: #B6BCC7;
  font-family: 'Lato', sans-serif;
}

.nav a {
  color: #272822;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}


.nav li {
	padding-left: 6px;
	padding-right: 6px;
  display: inline-block;
  padding-top: 12px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 60px solid #272822;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
/*  margin: auto;*/
}

.carousel-inner {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.carousel-caption h1 {
	position: relative;
	text-align: center;
	margin-bottom: 400px;
	font-size: 80px;
	font-weight: bold;
	opacity: 0.8;
}

.about {
  position: relative;
  margin-top: 30px;
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(30,87,153,0.33) 67%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(67%,rgba(30,87,153,0.33)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.33) 67%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.33) 67%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.33) 67%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.33) 67%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

/*  border-top: 40px solid #fff;
  border-left: 90px solid #fff;
  border-right: 90px solid #fff;
  border-bottom: 20px solid #fff;*/
  font-family: 'Lato', sans-serif;
}

.about .container {
  /*box-shadow: -2px -2px 1px 2px #24251f;*/

}

.strategy {
  background: url('https://camo.githubusercontent.com/d763efe73b248f6ae122adab4f02174975262bec/687474703a2f2f662e636c2e6c792f6974656d732f33633257305233683335343130423277304633302f636865636b657265642d6261636b67726f756e642e706e67');
/*  background-size: cover;*/
  background-position: center;
  background-repeat: repeat;
  background-size: 10%;
  border-top: 40px solid #272822;
  padding-top: 20px;
}


footer {
  height: 80px;
  width: 100%;
  background-color: #272822;
  color: #fff;
  padding: 30px;
}
